/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* End Global Rules */
/* Start Components */
/* End Components */
/* Start Header */
header {
  min-width: 72px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #7b2049;
}
header .navbar-brand svg {
  color: white;
  font-size: 30px;
}
header .navbar-brand svg:hover {
  color: #f73a99;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #f73a99 !important;
}

/* End Header */
/* Start Land */
.hero {
  position: relative;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  border-bottom: 5px solid #f73a99;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 0;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(54, 27, 130, 0.9098039216) 50%, rgba(20, 21, 114, 0.5803921569) 100%);
}

.hero-content {
  position: relative;
  z-index: 100;
}

.land {
  height: calc(100vh - 72px);
}
.land .content p:first-child {
  color: #f73a99;
}
.land .content h1 {
  font-size: 3rem;
}
.land .img-holder {
  width: 70%;
  margin-left: auto;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  overflow: hidden;
}
.land .img-holder img {
  max-width: 100%;
}
.land .img-holder p {
  border-bottom: 1px solid #777;
  font-size: 1rem;
}
.land .img-holder .outline {
  color: #7b2049;
}

@media (max-width: 991px) {
  header {
    margin-bottom: 50px;
  }
  .land {
    height: auto;
  }
  .land .img-holder {
    width: 100%;
  }
  .overlay {
    height: 100%;
  }
}
/* End Land */
/* Start Instructions */
.instructions {
  background-color: #110b37;
  overflow: hidden;
}
.instructions .container .icon svg {
  font-size: 200px;
  color: #f73a99;
}
.instructions .container .info p:first-child {
  color: #f73a99;
}
.instructions .container .instruction {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  transform: translateX(1000px);
  transition: 0.7s;
}
.instructions .container .instruction.animate {
  transform: translateX(0);
}
.instructions .container .instruction .number {
  position: relative;
  background-color: #f73a99;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions .container .instruction .number span {
  font-size: 40px;
}
.instructions .container .instruction .number svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  opacity: 0.2;
}
.instructions .container .instruction h3 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.instructions .container .instruction p {
  font-size: 14px;
  line-height: 1.8;
}

/* End Instructions */
/* Start Footer Section */
/* End Footer Section */
/* Start Converter */
.converter-holder {
  background-image: linear-gradient(135deg, #361b82 50%, #7b2049 100%);
  padding-top: 70px;
  padding-bottom: 70px;
}

h1 {
  color: #f73a99;
}

.converter {
  background-color: white;
  max-width: 450px;
  margin: auto;
  position: relative;
  padding: 20px;
  border-radius: 5px;
}
.converter > * {
  margin-bottom: 50px;
}
.converter label {
  margin-bottom: 10px;
  display: block;
}
.converter input {
  display: block;
  border: 1px solid black;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: 0.4s;
}
.converter input:focus {
  border-color: #f73a99;
  outline: none;
}
.converter .settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.converter .settings > div {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex: 1;
}
.converter .settings .drop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.converter .settings .drop:focus-within {
  border-color: #f73a99;
}
.converter .settings .drop select {
  cursor: pointer;
  border: none;
  text-align: center;
}
.converter .settings .drop select:focus-visible {
  border: none;
  outline: none;
}
.converter .settings .symbol svg {
  font-size: 30px;
  cursor: pointer;
  color: #f73a99;
  transition: 0.4s;
}
.converter .settings .symbol svg:hover {
  color: #7b2049;
}
.converter select {
  flex: 1;
}
.converter .rate {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.converter .rate div span:last-of-type {
  font-weight: bold;
}
.converter .rate .from {
  transition: 0.4s !important;
  order: 1;
}
.converter .rate .equal {
  order: 2;
}
.converter .rate .to {
  transition: 0.4s !important;
  order: 3;
}
.converter button {
  background-color: #f73a99;
  color: white;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.4s;
}
.converter button:hover {
  background-color: #7b2049;
}
.converter .result {
  border: 1px solid #f73a99;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px !important;
  text-align: center;
}

.animate-right {
  animation: reorderAnimationRight 0.7s ease-in-out reverse;
}

.animate-left {
  animation: reorderAnimationLeft 0.7s ease-in-out reverse;
}

.rotate {
  animation: reorderRotation 0.7s ease-in-out reverse;
}

@keyframes reorderRotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes reorderAnimationRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes reorderAnimationLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* End Converter */
/* Start Loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #f73a99;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f73a99 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Loader */
/* Start Features */
.features {
  background-image: url("../images/feat-section.jpg");
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
  left: 50%;
  width: 0;
  transition: 0.7s ease-in-out;
}
.features.animate {
  left: 0;
  width: 100%;
}
.features .overlay {
  height: 100%;
}
.features .overlay::before {
  background-image: linear-gradient(135deg, rgba(247, 58, 153, 0.8705882353) 50%, rgba(20, 21, 114, 0.8901960784) 100%);
}
.features .container {
  position: relative;
  z-index: 3;
}
.features .feature {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  opacity: 0;
  transition: 0.7s;
}
.features .feature.animate {
  opacity: 1;
}
.features .feature img {
  width: 64px;
  margin-bottom: 40px;
}
.features .feature h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.features .feature p {
  color: white;
  line-height: 1.8;
  font-size: 13px;
}

/* End Features */
/* Start About */
.about {
  background-color: #141572;
  padding-top: 70px;
  padding-bottom: 70px;
}
.about a {
  text-decoration: none;
  color: #f73a99;
  transition: 0.4s;
}
.about a:hover {
  color: #7b2049;
}

/* End About *//*# sourceMappingURL=main.css.map */